/*p {
    color:blue
}*/

nav ul {
    text-align: center;
    margin:0;
    padding: 0;
}

nav a:hover {
    color:rgb(231, 224, 224);
    background-color: blue;
}
nav li {
    list-style-type: none;
    display: inline-block;
    margin-left: 3%;
    line-height: 40px;
    height: 40px;
    font-size: 1.3em;

}

nav a {
    display:block;
    text-decoration: none;
    
}
.main-header > h1, .main-header p {
    text-align: center;
    font-family: Oswald, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: weight 700px;
}

.main-header {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: maroon;
}

header {
    margin:0;
    padding:0;
}